@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cedarville+Cursive&display=swap');



html {
    font-family: 'Josefin Sans', sans-serif !important;
}


.coffee-button {
    text-align: center;
    width: 135px;
    height: 43px;
    color: white !important;
    background-color: #2D635E;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

li:hover {
    color: #2D635E;
    transform: scale(1.2);
    transition-duration: .3s;
}

.font {
    font-family: 'Josefin Sans', sans-serif !important;
}

.carv-font,
h2 {
    font-family: 'Cedarville Cursive', cursive !important;

}

h1 {
    font-family: 'Josefin Sans', sans-serif !important;

    font-size: 60px !important;
}

.order-coffee-btn {
    text-decoration: none;
    color: white;
    background-color: #2D635E !important;
    width: 235px;
    height: 54px;
    border-radius: 7px;
    border: 0px;
    font-family: 'Josefin Sans', sans-serif !important;
}

.fas {
    margin-top: 1px;
    font-size: 20px;
}

.verticaltext p {
    width: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-orientation: sideways;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.mt {
    margin-top: 150px !important;
}

.image-1 {
    margin-left: 130px;
    width: 410px;
    height: 466px;
}

.image-2 {
    margin-left: -400px;
    margin-top: 150px;
    width: 344px;
    height: 373px;
}

.follow-us {
    color: rgb(158, 158, 158);
    margin-left: 60px;
    font-size: 30px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-family: 'Josefin Sans', sans-serif !important;
    text-decoration: none;
}

.fab {
    color: rgb(158, 158, 158);
}

.image-3 {
    width: 380px;
    height: 287px;
}

.image-4 {
    width: 364.59px;
    height: 262.96px;
    margin-top: -208px;
    margin-left: 50px;
}

.margin-1 {
    margin-top: 100px;
}

.shop-name {
    font-size: 38px !important;
    font-weight: 500;
}

.pera {
    line-height: 200%;
}

.image-5 {
    width: 410px;
    height: 276px;

}

.image-6 {
    width: 250px;
    height: 326px;
    margin-top: -308px;
    margin-left: 79px;
}


@media only screen and (max-width: 768px) {
    .top-2 {
        display: none;
    }
}